.table-container {
  color: #ffffff;
  display: flex;
  border-color: #00e7ff;
  background-color: transparent;
  padding: 5px;
  width: 650px;
}
.coin-type {
  margin-right: auto;
  margin-left: 25px;
  background-color: transparent;
  padding: 5px;
}
.usd {
  padding: 5px;
  margin-right: 45px;
}

.euro {
  padding: 5px;
  margin-left: 45px;
  margin-right: 25px;
}

.logo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
